{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}   
<!-- Section 2 -->
<div class="section-bg-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 sub-section-2">
                <div class="col-md-12">
                    <div class="text-black p-3 d-flex flex-column justify-content-center align-items-start">
                        <ul>
                            <li>Big Mac, McNuggets, Frites - $1 à $10
                                <ul>
                                    <li>Produit phare : Big Mac</li>
                                </ul>
                            </li>
                            <li>Whopper, Frites, Milk-shakes - $1 à $10
                                <ul>
                                    <li>Produit phare : Whopper</li>
                                </ul>
                            </li>
                            <li>Dave's Single, Frosty, Nuggets de poulet - $1 à $10
                                <ul>
                                    <li>Produit phare : Dave's Single</li>
                                </ul>
                            </li>
                            <li>Tacos, Burritos, Quesadillas - $1 à $9
                                <ul>
                                    <li>Produit phare : Tacos</li>
                                </ul>
                            </li>
                            <li>Sandwichs Sub, Cookies, Salades - $4 à $10
                                <ul>
                                    <li>Produit phare : Sandwichs Sub</li>
                                </ul>
                            </li>
                            <li>Bucket de poulet, Sandwichs, Frites - $2 à $20
                                <ul>
                                    <li>Produits phares : Bucket de poulet, Sandwichs</li>
                                </ul>
                            </li>
                            <li>Sandwich de poulet, Frites waffle, Nuggets - $3 à $12
                                <ul>
                                    <li>Produits phares : Sandwich de poulet, Frites waffle</li>
                                </ul>
                            </li>
                            <li>Pizzas, Breadsticks, Wings - $5 à $20
                                <ul>
                                    <li>Produits phares : Pizzas, Breadsticks, Wings</li>
                                </ul>
                            </li>
                            <li>Pizzas, Chicken Wings, Cheesy Bread - $6 à $20
                                <ul>
                                    <li>Produits phares : Pizzas, Cheesy Bread</li>
                                </ul>
                            </li>
                            <li>Café, Frappuccino, Pâtisseries - $2 à $7
                                <ul>
                                    <li>Produits phares : Café, Frappuccino, Pâtisseries</li>
                                </ul>
                            </li>
                            <li>Burritos, Bowls, Tacos - $7 à $15
                                <ul>
                                    <li>Produits phare : Tacos</li>
                                </ul>
                            </li>
                            <li>Poulet frit, Biscuits, Cajun Fries - $3 à $20
                                <ul>
                                    <li>Produits phares : Poulet frit, Biscuits, Cajun Fries</li>
                                </ul>
                            </li>
                            <li>Sandwichs Gourmet, Chips, Cookies - $4 à $10
                                <ul>
                                    <li>Produits phares : Sandwichs Gourmet, Chips, Cookies</li>
                                </ul>
                            </li>
                            <li>Thickburgers, Biscuits, Frites - $3 à $10
                                <ul>
                                    <li>Produits phares : Thickburgers, Biscuits, Frites</li>
                                </ul>
                            </li>
                            <li>Tacos - $1 à $10
                                <ul>
                                    <li>Produits phares : Tacos, ...</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

{% endblock %}
