{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% if messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4"> <!-- Ici, nous utilisons la grille de Bootstrap -->
        {% for table in tables %}
        <div class="col"> <!-- Chaque carte sera dans une colonne -->
            <div class="card h-100 card_style"> <!-- Utilisez h-100 pour s'assurer que toutes les cartes ont la même hauteur -->
                <img src="{% static table.image_path %}" class="card-img-top" alt="Image de la table {{ table.name }}" style="height: 200px; object-fit: cover;"> <!-- Assurez-vous que toutes les images ont la même hauteur -->
                <div class="card-body d-flex flex-column"> <!-- Utilisez d-flex et flex-column pour la disposition de flex -->
                    <h5 class="card-title">{{ table.get_name_display }}</h5>
                    <p class="card-text">{{ table.description }} ({{ table.seats }} places)</p>
                    <p class="card-text">Prix: {{ table.price }} €</p>
                    <form action="{% url 'reserve_table' %}" method="post" class="mt-auto"> <!-- mt-auto pousse le formulaire en bas de la carte -->
                        {% csrf_token %}
                        <input type="hidden" name="table_type" value="{{ table.id }}">
                        <div class="mb-3">
                            <label for="date-{{ forloop.counter }}" class="form-label">Date de réservation :</label>
                            <input id="date-{{ forloop.counter }}" type="date" name="date" min="{{ default_date }}" value="{{ request.POST.date|default:default_date }}" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-readmore">Réserver</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
